@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	/* Universal Selector. Applies this code to everything. */

	box-sizing: border-box; /* If we apply any padding or border to an element, it doesn't effect the width */
}
body {
	background-color: #53924d;
	color: white;
	font-family: "Muli", sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	display: flex;
	margin: 0;
}

.container {
	background-color: rgb(163 173 56 / 40%);
	padding: 20px 40px;
	border-radius: 5px;
}

.container h1 {
	text-align: center;
	margin-bottom: 30px;
}

.container a {
	text-decoration: none;
	color: lightblue;
}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: #cde6ad;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}

.text {
	margin-top: 30px;
}

.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px #fff solid;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	color: #fff;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: lightblue;
}

.form-control label {
	position: absolute;
	top: 15px;
	left: 0;
}

.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
	color: lightblue;
	transform: translateY(-30px);
}
